HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
gradle/wrapper/gradle-wrapper.properties
src/main/resources/application.properties
src/main/resources/properties/env.properties

# Environment Variables
.env
.env.properties
java17.tar.gz
jdk-17.0.7+7/
htmlReport/org.cheonyakplanet.be.application.service/
htmlReport/org.cheonyakplanet.be.domain/
htmlReport/org.cheonyakplanet.be.domain.chat/
htmlReport/org.cheonyakplanet.be.infrastructure/
htmlReport/org.cheonyakplanet.be.infrastructure.cache/
htmlReport/org.cheonyakplanet.be.infrastructure.client/
htmlReport/org.cheonyakplanet.be.infrastructure.scheduler/
htmlReport/org.cheonyakplanet.be.presentation.controller/
